// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

li {
  margin: 10px;
  padding: 40px 15px;
  width: 75px;
  background-color: lightskyblue;
  box-shadow: -1px 1px 5px gray;
  text-align: center;
  font-size: 30px;
}
